/* Estilo BOOM Johann Burgoa */

/* Estilos para el display del cronómetro */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("bomb.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#display {
  font-family: monospace;
  font-size: 40px;
  text-align: center;
  padding: 2px;
  background-color: #fff;
  color: #333;
  border: 2px solid #333;
  border-radius: 10px;
  box-shadow: 10px rgba(0, 0, 0, 0.2);
}

button {
  font-family: sans-serif;
  font-size: 50px;
  padding: 1px;
  width: 200px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  box-shadow: 10px rgba(0, 0, 0, 0.2);
  
  
}

button:hover {
  cursor: pointer;
  background-color: #555;
}

.line0 .cdigito {
  font-family: monospace;
  font-size: 50px;
  width: 200px;
  margin: 15px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: rgb(158, 9, 9);
  box-shadow: 10px rgba(0, 0, 0, 0.2);
}

.line0 .cdigito:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

.line1 .cdigito,
.line2 .cdigito,
.line3 .cdigito,
.line4 .cdigito {
  font-family: monospace;
  font-size: 50px;
  width: 200px;
  margin: 10px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  color: #333;
  box-shadow: 10px 5px rgba(0, 0, 0, 0.2);
}

.line1 .cdigito:hover,
.line2 .cdigito:hover,
.line3 .cdigito:hover,
.line4 .cdigito:hover {
  cursor: pointer;
  background-color: #529eb6;
}
.cdigito.correcto {
  background-color: green;
  color: white;
}
